thead{
    background-color: #234970;
    color: white;
    
}
table{
    /*3lshan ab3d el table 3n el gnab*/
    width: 95%;
    /*tegi f el nos*/
    margin: auto;
    font-size: 14px;
}
.table-striped > tbody > tr:nth-child(even)> td, .table-striped > tbody > tr:nth-child(even) > th {
    background-color:#E2F3FE;
 }
.table-striped > tbody > tr:nth-child(odd)> td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color:white;
 }